   
.contact{
    position: absolute;
width: 486px;
height: 201px;
left: 1000px;
top: -10px;
}
.contact-title{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #DCDCDC;

}
.contact-text{
    position: absolute;
width: 800px;
height: 141px;
left: 0px;
top: 204px;

font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #DCDCDC;

}

.contact2 { 
	width:178px;
	height:186px;
	position:absolute;
	left:1200px;
	top:650px;
}
.div1 { 
	width:178px;
	height:21px;
	position:absolute;
	left:0px;
	top:130px;
}
.mail { 
	color:rgba(220.00000208616257, 220.00000208616257, 220.00000208616257, 1);
	width:300px;
	height:20px;
	position:absolute;
	left:60px;
	top:30px;
	font-family:Fjalla One;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.div2 { 
	width:154px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
}
.a { 
    color:rgba(220.00000208616257, 220.00000208616257, 220.00000208616257, 1);
	opacity:0.800000011920929;
	width:82px;
	height:129px;
	position:absolute;
	left:9px;
	top:0px;
	font-family:Fjalla One;
	text-align:center;
	font-size:144px;
	letter-spacing:0;
}

.contact3 { 
	width:154px;
	height:186px;
	position:absolute;
	left:1600px;
	top:400px;
}
.div3 { 
	width:154px;
	height:129px;
	position:absolute;
	left:1200px;
	top:400px;
}
.b { 
	color:rgba(220.00000208616257, 220.00000208616257, 220.00000208616257, 1);
	opacity:0.800000011920929;
	width:154px;
	height:129px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Fjalla One;
	text-align:center;
	font-size:144px;
	letter-spacing:0;
}
.div4 { 
	width:138px;
	height:21px;
	position:absolute;
	left:1200px;
	top:550px;
}
.clients { 
	color:rgba(220.00000208616257, 220.00000208616257, 220.00000208616257, 1);
	width:160px;
	height:21px;
	position:absolute;
	left:100px;
	top:0px;
	font-family:Fjalla One;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}